### Load the libraries

In [1]:
import pandas as pd
import seaborn as sns

### Import the Data

In [2]:
covid19_homeless_impact_3 = pd.read_csv(r'C:\Users\engma\Desktop\BST\DSO110-Final Group Project\DFT_Group\covid19_homeless_impact_3.csv')
covid19_homeless_impact_3.head()

,date,rooms,rooms_occupied,cumulative_population_cases,cumulative_homeless_cases,total_population_by_percentage,total_homless_population_by_percentage
0,4.15.2020,9388,3477,25389,119,0.064260,0.078663
1,4.16.2020,10471,3918,26686,120,0.067542,0.079324
2,4.17.2020,10974,4211,27677,123,0.070051,0.081307
3,4.18.2020,11030,4257,29157,123,0.073797,0.081307
4,4.19.2020,11119,4299,30511,126,0.077223,0.083290